*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    padding:40px;
    background:#111;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.box{
    position:relative;
    overflow:hidden;
    border-radius:15px;
}

.box img{
    width:100%;
    height:300px;
    object-fit:cover;
    transition:0.5s;
}

.box::before{
    content:"View Image";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.6);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:0.5s;
    z-index:1;
}

.box:hover::before{
    opacity:1;
}

.box:hover img{
    transform:scale(1.2);
}