.virat{
    background-color: lightyellow;
    border: 8px solid orange;
    padding: 20px;
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

.match{
    background-color: royalblue;
    color: white;
    border: 5px solid navy;
    padding: 20px;
    margin: 20px;
}

.fifty{
    background-color: seagreen;
    color: white;
    border: 5px solid darkgreen;
    padding: 20px;
    margin: 20px;
}

.img img {
    
    width: 150px;
    height: 150px;

    padding: 5px;           /* spacing inside border */
    margin-right: 10px;     /* small gap between images */
}
h1{
    margin-bottom: 30px;
}

p{
    font-size: 24px;
    margin: 0px;
}