.gallery{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}

.gallery-box{
    width:200px;
    height:150px;
    background-color:orange;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}